<div class="container">
<h3>These are comments</h3>
	<% @comments.each do |comment| %>
	<div class="span2">
		<%= "Product Name: " +comment.product.name %><br>
		<%= "Author: " + comment.author %><br>
		<%= "Comment: " + comment.content %><br>
	</div>
	<br>
	<% end %>
</div>