<div class="container">
	<h3>Enter new product information</h3>
	<!-- <form action="/products" method="post">
		<input type="text" name="product[name]" placeholder="Product Name" /><br>
		<input type="text" name="product[pricing]" placeholder="Price of Product" /><br>
		<textarea placeholder="Product Description" name="product[description]"></textarea><br>
		<input type="submit" value="Submit New Product" />
	</form> -->
	
</div>
